:root {
    --background: #191825;
    --second-background: #ffa3fd;
    --third-background: #1e1c36;
    --text-color: #865dff;
    --text-white: #ffff;
    --text-dark: #0f0d27;
    --text-black: #000;
    --h1-font : 'Rubik', sans-serif;
    --h2-font : font-family: 'Croissant One', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 80px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track{
    background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--third-background);
    border-radius: 20px;
    border: 3px solid var(--background);
}

.main__nav {
    width: 100%;
    height: 80px;
    background-color: var(--background);
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.main__nav--menu {
    width: 1200px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 550px;
}

.main__nav--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__nav--logo--img {
    width: 70px;
    height: 70px;
}

.main__nav--menu--list {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.main__nav--menu--list--item--links {
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: var(--text-color);
}

.main__nav--menu--sesion--list {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.label-hamburger {
    display: none;
}

.input-hamburguer {
    display: none;
}

.main__nav--menu--sesion--list {
    gap: 30px;
}

.main__nav--login {
    background-color: var(--second-background);
    padding: 10px 15px;
    border-radius: 15px;
}

.main__nav--login--a {
    color: var(--text-white);
}

.main__nav--signup {
    background-color: var(--third-background);
    padding: 10px 15px;
    border-radius: 15px;
}

.main__nav--signup--a {
    color: var(--text-white);
}

.main {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portada {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 1400px;
    gap: 30px;
}

.portada__container--text {
    width: 535px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
}

.portada__h2, .portada__span {
    color: var(--text-color);
}

.portada__h1 {
    color: var(--text-white);
    font-size: 20px;
    font-family: var(--h1-font);
}

.portada__h2 {
    font-size: 40px;
    font-family: var(--h2-font);
}

.portada__span {
    width: 450px;
    font-size: 18px;
    text-wrap: pretty;
    font-family: 'Sofia Sans', sans-serif;
}

.portada__btn {
    height: 40px;
    width: 150px;
    background: transparent;

    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.portada__btn--a {
    text-decoration: none;
    color: var(--text-white);
}

.portada__container--imagen {
    max-width: 750px;
}

.portada__container--imagen > img {
    width: 100%;
    border-radius: 15px;
}

#about {
    background-color: var(--second-background);
    margin: 50px 20px;
    padding: 30px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about__image {
    max-width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about__image > img {
    height: 400px;
    width: 100%;
    border-radius: 15px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    width: 765px;
    text-wrap: pretty;
}

.about__h2 {
    font-size: 28px;
    font-family: var(--h2-font);
    color: var(--text-dark) ;
}

.about__p {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
    color: var(--text-color);
}

.about__span--bold {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600;
}

#cards {
    margin: 50px 20px 0 20px;

    display: flex;
    justify-content: center;
    gap: 50px;
}

.card__container {
    height: 420px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card__a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--text-black);
}

.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img > img {
    width: 250px;
    height: 225px;
}

.card__img > i {
    display: none;
}

.card__text {
    margin-top: 15px;
    text-wrap: balance;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card__h2 {
    font-size: 22px;
    color: var(--text-dark);
    font-family: var(--h2-font);
}

.card__p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card__span--bold {
    font-weight: bold;
}

.card__btn {
    height: 40px;
    width: 120px;
    font-size: 18px;
    font-family: var(--h2-font);
    font-weight: 600;
    color: var(--text-color);
    background: var(--background);
    border-radius: 20px;
    cursor: pointer;
}

#contact {
    width: 100%;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__text {
    width: 600px;
    height: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact__h2 {
    color: var(--text-white);
    font-size: 28px;
    font-family: var(--h2-font);
}

.contact__span {
    font-size: 18px;
    color: var(--text-white);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.fa-solid {
    color: #9f7fff;
}

.hr--top {
    background-color: var(--second-background);
    border-color: transparent;
    height: 2px;
    width: 50%;
    margin-top: 10px;
}

.contact__container {
    width: 100%;
    margin: 60px 40px 20px 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__label {
    color: var(--text-color);
    font-family: var(--h2-font);
    font-size: 20px;
}

.form__input {
    height: 30px;
    width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.form__input::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(206, 206, 206);
    font-weight: bold;
}

.form__comment {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    resize: none;
}

.form__comment::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(206, 206, 206);
    font-weight: bold;
}

.submit--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__submit {
    height: 40px;
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--second-background);
    color: var(--text-dark);

    border-radius: 20px;
}

.hr--bottom {
    background-color: var(--second-background);
    border-color: transparent;
    height: 2px;
    width: 50%;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 20px 10px;
    margin-top: 70px;
    background-color: var(--second-background);
}

.footer__contact--container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer__img > img {
    width: 80px;
}

.footer__text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.footer__span {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-dark);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer--hr {
    height: 10px;
    margin: 20px 0;
    border-color: transparent;
    width: 100%;
    background-color: var(--background);
}

.footer__links--container {
    width: 100%;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer__links--span {
    font-size: 22px;
    font-weight: bold;
    font-family: var(--h2-font);
}

.footer__icon {
    font-size: 18px;
}

.footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nav--list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.footer__nav--list--item {
    text-decoration: none;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-dark);
}

.footer__redes--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer__redes--h2 {
    font-size: 22px;
    font-family: var(--h2-font);
}

.footer__container__redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.footer__redes--links {
    font-size: 22px;
    color: var(--text-dark);
}

.footer__mail {
    color: var(--text-dark);
}

.footer__copyright--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__h2 {
    color: var(--text-dark);
    font-size: 22px;
    font-family: var(--h1-font);
}